graft src
graft zstd/lib/common
graft zstd/lib/compress
graft zstd/lib/decompress
graft zstd/lib/legacy
graft tests
include LICENSE
include README.md
include zstd/lib/zstd.h
include zstd/lib/zstd_errors.h
